<section class="vh-100 align-items-center justify-content-center background_container_color">

  @if (patientsList.length > 0) {
    <div class="table-responsive">
      <table class="table table-striped table-light table-hover table">
        <thead>
        <tr>
          <th>DNI</th>
          <th>Apellidos y nombre</th>
          <th>Paciente asignado desde</th>
        </tr>
        </thead>
        <tbody style="cursor: pointer">
          @for (patient of patientsList; track $index) {
            <tr (click)="goToPatientsDetails(patient)">
              <td>{{ patient.id }}</td>
              <td>{{ patient.name }}</td>
              <td>{{ patient.initDate | date: 'd/MM/yyyy' }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (patientsList.length == 0 && !loading) {
    <div class="alert alert-info"> No tiene pacientes asignados</div>
  }

</section>
